<div
  class="fixed bg-white text-black shadow-lg transition-transform duration-300 cursor-pointer rounded-modal animate-fade-in-up"
  [ngClass]="{
    'top-12': !isFullScreen,
    'left-12': !isFullScreen,
    'w-full h-full': isFullScreen || isMobile,
    'top-0 left-0': isFullScreen || isMobile,
    'w-[100vw] h-[100vh]': isFullScreen || isMobile,
    'overflow-auto': isMobile
  }"
  [ngStyle]="{
    zIndex: modalService.getZIndex(modalId),
    top: top,
    left: left,
    height: isFullScreen || isMobile ? 'calc(100vh)' : '40vh',
  }"
  *ngIf="isOpen"
  (mousedown)="onMouseDown($event)"
  (click)="bringToFront()"
>
  <div class="flex justify-between bg-gray-200 p-2 text-white cursor-move" (dblclick)="toggleFullScreen()">
    <div class="space-x-2">
      <button 
        (click)="closeModal()" 
        class="bg-red-400 text-white rounded-full w-4 h-4 hover:bg-red-200 focus:outline-none">
      </button>
      <button 
        class="bg-green-400 text-white rounded-full w-4 h-4 hover:bg-green-200 focus:outline-none"
        (click)="toggleFullScreen()"></button>
    </div>
    <div class="text-black"><b>{{ modalId }}</b></div>
    <div></div>
  </div>
  <div class="bg-white" style="overflow-y: auto;"
    [ngClass]="{
        'w-[50vw] h-[40vh]': !isFullScreen && !isMobile,
    }"
    [ngStyle]="{
        height: isFullScreen || isMobile ? 'calc(0px + 100vh)' : '40vh',
    }"
  >
    <ng-content></ng-content>
  </div>
</div>
