<app-splash-screen *ngIf="showSplash"></app-splash-screen>
<div *ngIf="!showSplash" class="flex flex-col min-h-screen relative">
  <app-navbar></app-navbar>
  <app-container class="flex-grow" (onModalSelected)="openModal($event)"></app-container>
  <app-footer class="fixed bottom-0 left-0 w-full z-[1100]" (onModalSelected)="openModal($event)"></app-footer>
  <app-modal modalId="File Explorer">
    <app-file-explorer></app-file-explorer>
  </app-modal>
  <app-modal modalId="Compiler">
    <app-code-compiler></app-code-compiler>
  </app-modal>
  <app-modal modalId="Camera">
    <app-camera></app-camera>
  </app-modal>
  <app-modal modalId="Chrome">
    <iframe
    src="https://www.google.com/webhp?igu=1"
    width="100%"
    height="100%"
    frameborder="0"
    style="border: 0;"
    allowfullscreen>
  </iframe>
  </app-modal>
  <app-modal modalId="Resume">
    <pdf-viewer
         [src]="'assets/pdf/resume.pdf'"
         [render-text]="true"
         style="display: block; height: calc(-180px + 100vh);"
       ></pdf-viewer>
  </app-modal>
  <app-modal modalId="Terminal">
   <app-terminal></app-terminal>
  </app-modal>
  <app-modal modalId="Calculator">
    <app-calculator></app-calculator>
  </app-modal>
  <app-modal modalId="Portfolio">
    <app-portfolio></app-portfolio>
  </app-modal>
  <app-modal modalId="Settings">
    <app-settings></app-settings>
  </app-modal>
</div>

<app-notification></app-notification>