<div class="terminal-container w-full h-full bg-black text-white rounded-md shadow-lg flex flex-col p-4" (click)="focusInput()">
    <div *ngIf="commandHistory.length === 0" class="text-sm sm:text-lg text-gray-400 italic mb-4">
      <!-- <span class="terminal-text">Sagaros</span> -->
        <p>Welcome to the terminal! Type <span class="text-green-400">help</span> to get started with available commands.</p>
      </div>
    <!-- Terminal Body -->
    <div class="flex-grow overflow-y-auto text-sm sm:text-lg" #terminalBody>
      <div *ngFor="let command of commandHistory" class="whitespace-pre-wrap">
        <div *ngIf="!command.isHtml">
          {{ command.command }}
          <div>{{ command.output }}</div>
        </div>
        <div *ngIf="command.isHtml">
          <div [innerHTML]="command.command"></div>
          <div [innerHTML]="command.output"></div>
        </div>
      </div>
  
      <!-- User Input with Blinking Cursor -->
      <div class="flex text-sm sm:text-lg">
        <span class="text-green-500"><b class="text-purple-400">sagar</b> <b class="text-green-400">.patil</b>  ~ %</span>
        <input
          #inputElement
          [(ngModel)]="terminalInput"
          (keydown)="onKeyDown($event)"
          type="text"
          class="bg-transparent text-green-500 ml-2 flex-grow outline-none"
          autofocus
        />
      </div>
    </div>
</div>
